* text=auto !eol
HBaseMR/LICENSE.txt -text
HBaseMR/pom.xml -text
HBaseMR/src/main/java/net/cryp7/range/mapreduce/HBaseMR.java -text
HBaseMR/src/main/java/net/cryp7/range/mapreduce/Ingest.java -text
MRunner/hbase.properties -text
MRunner/pom.xml -text
MRunner/src/main/java/net/cryp7/range/mapreduce/ConfigFile.java -text
MRunner/src/main/java/net/cryp7/range/mapreduce/MRunner.java -text
MRunner/wordcount.properties -text
WordCountMR/LICENSE.txt -text
WordCountMR/input/bar.txt -text
WordCountMR/input/foo.txt -text
WordCountMR/pom.xml -text
WordCountMR/src/main/java/net/cryp7/range/mapreduce/WordCountMR.java -text
