HBaseMR/.classpath
HBaseMR/.project
HBaseMR/.settings
HBaseMR/target
MRunner/.classpath
MRunner/.project
MRunner/.settings
MRunner/target
WordCountMR/.classpath
WordCountMR/.project
WordCountMR/.settings
WordCountMR/dependency-reduced-pom.xml
WordCountMR/target
