* text=auto !eol
HBaseMR/LICENSE.txt -text
HBaseMR/pom.xml -text
HBaseMR/src/main/java/net/cryp7/range/HBaseMR/Driver.java -text
HBaseMR/src/main/java/net/cryp7/range/HBaseMR/Ingest.java -text
HBaseMR/src/main/java/net/cryp7/range/HBaseMR/MyMapper.java -text
HBaseMR/src/main/java/net/cryp7/range/HBaseMR/MyReducer.java -text
HRun/pom.xml -text
HRun/src/main/java/net/cryp7/range/HRun/ConfigFile.java -text
HRun/src/main/java/net/cryp7/range/HRun/Main.java -text
WordCountMR/LICENSE.txt -text
WordCountMR/hrun.properties -text
WordCountMR/input/bar.txt -text
WordCountMR/input/foo.txt -text
WordCountMR/pom.xml -text
WordCountMR/src/main/java/net/cryp7/range/WordCountMR/MyMapper.java -text
WordCountMR/src/main/java/net/cryp7/range/WordCountMR/MyReducer.java -text
WordCountMR/src/main/java/net/cryp7/range/WordCountMR/WordCountMR.java -text
